<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h2 id="article" data-id="{{article._id}}">
                <a href="{{article.link}}"></a>
                {{article.title}}
            </h2>
            <p class="lead">{{article.summary}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>comment(s): </h4>
            {{#each article.comment}}
            <div class="section">
                <h5>{{this.poster}}</h5>
                <h6>{{this.title}}</h6>
                <p>{{this.body}}</p>
                <small>{{this.postedOn}}</small>
            </div>
            {{/each}}
            <form action="/article/{{article._id}}" method="post">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="username">username: </label>
                                <input type="text" class="form-control validate" id="username" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="title">title: </label>
                                <input type="text" class="form-control validate" id="title" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="comment">comment: </label>
                                <textarea class=" form-control validate" id="comment" rows="5"></textarea>
                            </div>
                        </form>
                        <button type="button" id="submit" class="btn btn-outline-dark">submit</button>
                        <br><br>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#submit").on("click", function (event) {
        event.preventDefault
        var comment
        var id = $("h2#article").data("id")

        $.ajax({
            method: "POST",
            URL: `/article/${id}`,
            data: {
                poster: $("#username").val().trim(),
                body: $("#comment").val().trim(),
                title: $("#title").val().trim(),
            }
        }).then(function () {
            location.reload
        })
    })
</script>